<h1><%= @profile.username %>'s profile</h1>

<p>Location: <%= @profile.location %></p>
<p>Username: <%= @profile.bio %></p>

<% if @profile.id == profile_id %>
<%= link_to 'Edit', edit_profile_path(@profile.id), :class =>"btn btn-warning" %>
<% end %>
