<h1><%= @profile[0].username %>'s profile</h1>

<p>Location: <%= @profile[0].location %></p>
<p>Username: <%= @profile[0].bio %></p>

<%= link_to 'Edit', edit_profile_path(profile_id), :class =>"btn btn-warning" %>
