<h1> Discussions </h1>

<% @topics.each do |t| %>
	
	<p> <%= link_to t.title, topic_path(t) %> posts: <%= t.posts.count %> </p>
<% end %>
<br /> <br />

<%= link_to 'new topic', new_topic_path, :class =>"btn btn-success" %>
